
/****************************
****RESET BUTTON STYLES******
*****************************/
button{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    &:hover{
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
    }
    &:active{
        outline: none;
        border: none;
    }
    &:focus{
        outline: 0;
    }
}